/**
 * This is the main styling file. Add all depentencies here.
 * first our own styles for components and bootstrap overwrites.
*/

@import 'variables';

// import font-awesome icons
@import '~font-awesome/scss/font-awesome';

/*
 * *  uncomment the required parts
 */
// Required
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// // Option
@import '~bootstrap/scss/alert';
@import '~bootstrap/scss/badge';
@import '~bootstrap/scss/breadcrumb';
@import '~bootstrap/scss/button-group';
@import '~bootstrap/scss/buttons';
@import '~bootstrap/scss/card';
// @import "~bootstrap/scss/carousel";
@import '~bootstrap/scss/close';
// @import "~bootstrap/scss/code";
@import '~bootstrap/scss/dropdown';
@import '~bootstrap/scss/forms';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/input-group';
@import '~bootstrap/scss/jumbotron';
@import '~bootstrap/scss/list-group';
// @import "~bootstrap/scss/media";
// @import "~bootstrap/scss/modal";
@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/navbar';
// @import "~bootstrap/scss/pagination";
// @import "~bootstrap/scss/popover";
// @import "~bootstrap/scss/print";
// @import "~bootstrap/scss/progress";
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/root';
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/tooltip";
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/type';

@import 'components/Base';
@import 'components/TextInput';
@import 'components/MessagesList';
@import 'components/Login';
@import 'components/User';
