.ChatApp {
    width: 100%;
    height: 100%;
    margin: 1em;
    padding: 5em;
    background: rgb(188, 212, 255);
    border: rgb(3, 5, 27) 2pt solid;
    border-radius: 1em;
}

.MessageContainer {
    width: 100%;
    height: 30em;
    background: white;
    padding: 1em;
    border-radius: 1em;
    overflow: scroll;
}

.InputContainer {
    margin-top: 1em;
    text-align: right;
    border-top: black 1pt solid;
    padding-top: 1em;
}

.InputContainer .MessageInput {
    width: 100%;
    text-align: right;
    margin-bottom: .5em;
}

.MessageContainer {
    list-style-type: none;
}

.MessageItem {
    margin-bottom: .5em;
    width: 100%;
    padding: .4em;
    min-height: 4em;
    background: #72c0ff;
    color: rgb(3, 5, 27);
    border-radius: .4em;
}

.MessageItem.is-response {
    background: #b9ffc2;
    text-align: right;
}

.MessageItem .MessageHeader  {
    border-bottom: white 1pt solid;
    padding: .3em;
}

.MessageItem .MessageHeader .TimeStamp {
    font-style: normal;
    font-weight: bolder;
}

.MessageItem .MessageHeader .MessageAuthor {
    padding-left: 1em;
}

.MessageItem .MessageHeader span {
    font-size: 10pt;
    margin-bottom: .7em;
    font-style: italic;
}

.MessageItem .MessageBody {
    padding: .3em;
}

